## Python_Assignment1

Q1. Create one variable containing following type of data:

(i)	string

(ii)	list

(iii)	float

(iv)	tuple

In [1]:
#(i)
str1 = 'Data Science'
#(ii)
list1 = ['a',22,2.5,True,1+2j]
#(iii)
float1 = 59.366
#(iv)
tuple1 = ('a',22,2.5,True,1+2j)

Q2. Given are some following variables containing data:

(i)	var1 = ‘ ‘

(ii)	var2 = ‘[ DS , ML , Python]’

(iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv)	var4 = 1.

What will be the data type of the above given variable.

(i) The data type of var1 is string

(ii) var2 is not a data type because it gives syntax error when it gets executed. If      the elementsin the square braces are in quotations then the elemets can be          strings. So that var2 can be a list 

(iii) The data type of var3 is list

(iv) The data type of var4 is int

Q3. Explain the use of the following operators using an example:

(i)	/

(ii)	% 

(iii)	//

(iv)	**

In [11]:
'''(i) / is a divison operator, used for performing division of two numbers as to return 
                  the quotient including decimal places'''

12/7

1.7142857142857142

In [12]:
'''(ii) % is a modulus operator, used for performing division of two numbers as to return 
                  the remainder '''

152%10

2

In [13]:
'''(iii) // is a floor divison operator, used for performing division of two numbers as to return 
                  the quotient excluding decimal places'''
12//7

1

In [14]:
'''(iv) ** is an exponentiation operator used for finding the exponent value of a number'''

3**3

27

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [15]:
l1 = ['Bala',15.6,5+6j,50,True,'Krishna',False,22.2236,10,'Thulasi']

In [17]:
len(l1)

10

In [21]:
for i in l1:
    print(f'{i} : data_type - {type(i)}')

Bala : data_type - <class 'str'>
15.6 : data_type - <class 'float'>
(5+6j) : data_type - <class 'complex'>
50 : data_type - <class 'int'>
True : data_type - <class 'bool'>
Krishna : data_type - <class 'str'>
False : data_type - <class 'bool'>
22.2236 : data_type - <class 'float'>
10 : data_type - <class 'int'>
Thulasi : data_type - <class 'str'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [3]:
A = int(input('Enter the A : '))
B = int(input('Enter the B : '))   
count = 0
while A%B == 0:
    A = A//B
    count += 1
if count>0:
    print(f'A is divisible by B {count} times')
else:
    print('A is not completely divisible by B')

Enter the A :  64
Enter the B :  4

A is divisible by B 3 times

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [4]:
num_list = [12,52,16,18,22,21,57,9,3,51,50,10,30,60,243,23,17,19,97,66,14,55,44,100,34]

In [5]:
len(num_list)

25

In [7]:
for i in num_list:
    if i % 3 == 0:
        print(f'{i} is divisible by 3')
    else:
        print(f'{i} is not divisible by 3')

12 is divisible by 3
52 is not divisible by 3
16 is not divisible by 3
18 is divisible by 3
22 is not divisible by 3
21 is divisible by 3
57 is divisible by 3
9 is divisible by 3
3 is divisible by 3
51 is divisible by 3
50 is not divisible by 3
10 is not divisible by 3
30 is divisible by 3
60 is divisible by 3
243 is divisible by 3
23 is not divisible by 3
17 is not divisible by 3
19 is not divisible by 3
97 is not divisible by 3
66 is divisible by 3
14 is not divisible by 3
55 is not divisible by 3
44 is not divisible by 3
100 is not divisible by 3
34 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing 
this property.

Immutable data types : The data types that are not changeable after the object is created. The values of the object can                        not be modified or removed and also no new value is added. Such type of data types are called                          Immutable data types.All fundamental data types(int, float, str, bool,complex) and tuple are                            immutable.

In [9]:
a = 'ABCD'
a[0] = 'S'

TypeError: 'str' object does not support item assignment

In [10]:
t1 = ('Bala',25,35.6,True)
t1[1] = False
t1[-1] = 'AAAA'

TypeError: 'tuple' object does not support item assignment

Mutable data types : The data types that are changeable after the object is created. The values of the object can                            be modified or removed and also no new value is added. Such type of data types are called                              Mutable data types. Lists, Sets and Dictionaries are mutable

In [11]:
l2 = [10,True,22.6,'car',6+7j]

In [15]:
type(l2)

list

In [16]:
l2[0] = False
l2[-1] = 'Tiger'

In [17]:
l2

[False, True, 22.6, 'car', 'Tiger']

In [13]:
Dict1 = {'A' : 25,'B' : 'Papaya', 'C' : 59.6, 'D' : True}

In [14]:
type(Dict1)

dict

In [19]:
Dict1['A'] = 100
Dict1['C'] = False

In [20]:
Dict1

{'A': 100, 'B': 'Papaya', 'C': False, 'D': True, 1: 100}